<!DOCTYPE html>
<html th:replace="~{layout/noNavbarLayout :: layout(~{::title}, ~{::section})}" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login</title>
</head>
<body>
<section>
    <div class="container">
        <div class="py-5 text-center">
            <h2>로그인</h2>
        </div>
        <div>
            <form action="" method="post" th:object="${loginForm}">
                <div class="mb-3">
                    <label for="loginId" class="form-label">username :</label>
                    <input type="text" name="loginId" id="loginId" class="form-control">
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">password :</label>
                    <input type="password" name="password" id="password" class="form-control">
                </div>
                <div th:if="${#fields.hasGlobalErrors()}" class="text-danger">
                    <p class="field-error" th:each="error : ${#fields.globalErrors()}" th:text="${error}">전체 오류 메시지</p>
                </div>
                <div class="py-3">
                    <button type="submit" class="btn btn-outline-primary">로그인</button>
                </div>
            </form>
            <a href="https://kauth.kakao.com/oauth/authorize?client_id=e385bf5e38f12aa2aef69ac404656930&redirect_uri=http://localhost:8080/login/oauth2/code/kakao&response_type=code">카카오 로그인</a>
        </div>
    </div>
</section>
</body>
</html>